*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:after{
	content: '';
	display: inline-block;
	clear: both;
}

header{
	width: 100%
	min-height: 150px;
	margin: 0px 50px;
	line-height: 150px;

}

header img{
	display: inline-block;
	width: 150px;
	min-height: 150px;
	float: left;
}

.header-section{
	display: inline-block;
	float: center;
}

.header-section li{
	display: inline-block;
}

.header-section li a{
	padding: 0px 20px;
	text-decoration: none;
	color: #424242;
	font-size: 24px;
}

.header-section li a:hover{
	color: #ff8c00;
}

.first-link{
	margin-left: 120px;
}

.phone-number{
	display: inline-block;
	float: right;
}


.phone-number a{
	text-decoration: none;
	color: #424242;
	font-size: 24px;
}

.phone-number a:hover{
	color: #ff8c00;
}

/*Main content*/

.main-page{
	min-height: 600px;
	margin-top: 50px;
}

.main-content{
	display: inline-block;
	float: left;
	width: 75%;
	margin: 0px 50px;
}

.main-content h2{
	font-size: 25px;
	display: block;
	text-align: center;

}

.discription{
	display: inline-block;
	float: left;
	padding-top: 20px;
}

.discription p{
	font-size: 20px;
}

.images{
	display: inline-block;
	float: right;
	padding-top: 20px;
}

.images img{
	height: 500px;
	width: 1000px;
}

.sidebar{
	display: inline-block;
	float: right;
	margin-right: 100px;
}

.sidebar input{
	margin: 20px 0px;
}

.sidebar h2{
	font-size: 25px;
}

.sidebar li a{
	text-decoration: none;
	color: #424242;
	font-size: 24px;
}

.sidebar li a:hover{
	color: #ff8c00;
}

.sidebar img{
	width: 150px;
	min-height: 150px;
	padding-top: 20px;
}

.social-networks-blocks{
	text-align: center;
}

.social-networks-blocks p{
	font-size: 24px;
	color: #4286f4;
	font-family: Comic Sans MS, sans-serif;
}

.social-networks a{
	padding: 0px 25px;
}




